.header {
    height: 90px;
}

.header_container {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
}

.header_wrap {
    padding: 19px 80px;
    height: 90px;
    box-sizing: border-box;
}

.header_logo_box {
    position: absolute;
    top: 22px;
    left: 80px;
}

.header_logo_box h1 {
    width: 257px;
    height: 46px;
}

.header_logo_box h1 svg {
    width: 100%;
    height: 100%;
}

/* GNB */
.header_gnb_container {
    width: auto;
    float: right;
    margin: 0 auto;
}
.gnb_1dp {
    text-align: right;
    width: auto;
}

.gnb_1dp>li {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-right: 50px;
}

.gnb_1dp>li:last-child {
    margin: 0;
}

.gnb_1dp>li>a {
    color: #151515;
    display: block;
    padding: 14px 0 11px;
    box-sizing: border-box;
}

.gnb_1dp>li:hover>a{
    color: #0051a4;
    border-bottom: 3px solid #0051a4;
}

.gnb_2dp>li:hover>a{
    color: #0051a4;
    border-bottom: 3px solid #0051a4;
}

.gnb_path_active {
    color: #0051a4 !important;
    border-bottom: 3px solid #0051a4 !important;
}

.gnb_2dp_bg {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 40px 80px 15px;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: none;
}

.gnb_2dpList_wrap {
    margin-right: 320px;
    float: right;
}

.gnb_2dpListTitle_box {
    width: 280px;
    float: left;
    text-align: left;
}

.gnb_2dpListTitle_box>h2 {
    font-size: 36px;
    font-weight: 400;
}

.gnb_2dpListCont_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 200px;
    padding-right: 20px;
    box-sizing: border-box;
    float: left;
}

.gnb_2dp {
    text-align: left;
}

.gnb_2dp>li>a {
    font-size: 20px;
    font-weight: 300;
    color: #666;
}