/* skip menu */
.skip_menu {
    width: 100%;
    position: relative;
    text-align: center;
}

.skip_menu a {
    width: 100%;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 10px 0;
    top: -50px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    
}

.skip_menu a:active,
.skip_menu a:focus {
    top: 0;
    z-index: 1001;
}

/* 투어원패스 로그인창 */
.onepass_login_on {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background: url("/images/dim.png") repeat 0 0;
    display: none;
}

.onepass_login_wrap {
    width: 450px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -220.5px;
    z-index: 1002;
    display: none;
}

.onepass_login_title {
    background: #13294b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.onepass_login_title>h2 {
    font-size: 16px;
}

.onepass_login_title>button {
    text-indent: -9999px;
    border: none;
    width: 16px;
    height: 16px;
    background: url("/images/btn_w_close_32x32.png") no-repeat 50% 50%;
    background-size: 16px auto;
    cursor: pointer;
}

.onepass_login_content {
    width: 100%;
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.onepass_login_content>span {
    display: block;
    width: 300px;
    height: 30px;
    background: url("/images/pop_sociallogin_logo01.gif");
    text-indent: -9999px;
}

.onepass_login_content>p {
    color: #666;
    padding: 13px 0 18px;
    text-align: center;
}

.onepass_login_content>a {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-indent: -9999px;
    height: 60px;
    background: url("/images/pop_sociallogin_logo.gif") 50% 0 no-repeat;
    box-shadow: 0px 12px 38px 0px rgba(6, 0, 1, 0.15);
}

.auto_login {
    padding: 25px 0 50px;
    height: 20px;
}

.auto_login>a {
    position: relative;
    display: inline-block;
    padding-left: 26px;
    font-weight: 500;
    font-size: 19px;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    background: url("/images/bg_ckeckbox.png") 0 0 / 20px 20px no-repeat;
}

/* 메인 상단 이미지 */
.travelAiPlanner_topImg_wrap {
    width: 100%;
    height: 330px;
    background: url("/travelAi/images/travelAi/mainBackground.jpeg") center;
    display: flex;
    align-items: center;
}

.travelAiPlanner_topImgText_box {
    width: 1180px;
    margin: auto;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 4px #888888;
}

/* 이미지 하단 가이드 바 */
.travelAiPlanner_guideSns_container {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
}

.travelAiPlanner_guideSns_wrap {
    width: 1180px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.travelAiPlanner_guideList {
    display: flex;
    height: 100%;
}

.travelAiPlanner_guideList>li {
    height: 100%;
    padding: 0 35px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/travelAi/images/travelAi/nav_arw.png") no-repeat top left/contain
}

.travelAiPlanner_guideList>li:first-child {
    background: none;
    padding: 0;
    justify-content: start;
    width: 40px;
}

.travelAiPlanner_guideList>li:last-child {
    position: relative;
}

.travelAiPlanner_guideList>li:last-child>a {
    color: #5289e6;
    position: relative;
}

.travelAiPlanner_guideList>li:last-child>a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #5289e6;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.travelAiPlanner_guideList>li:nth-child(3)>a::before {
    content: '▼';
    position: absolute;
    top: 0;
    right: -20px;
}

/* 가이드바 3depth */
.travelAiPlanner_3depthList {
    position: absolute;
    background: #fff;
    top: 50px;
    left: 0;
    width: 100%;
    border: 1px solid #dfdfdf;
    display: none;
}

.travelAiPlanner_3depthList li:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}

.travelAiPlanner_3depthList li {
    text-align: center;
    line-height: 50px;
}

.travelAiPlanner_3depthList li:hover a {
    background: #5289e6;
    color: #fff;
}

.travelAiPlanner_3depthList li>a {
    display: block;
    color: #777;
}

/* 메일, 프린트, sns */
.travelAiPlanner_share_box {
    display: flex;
    align-items: center;
}

.travelAiPlanner_share_box ul {
    display: flex;
}

.travelAiPlanner_share_box ul li {
    margin-left: 4px;
}

.travelAiPlanner_share_box ul li:first-child {
    margin-left: 0;
}

.travelAiPlanner_sendList {
    position: relative;
}

.travelAiPlanner_sendList li {
    margin-right: 15px;
}

.travelAiPlanner_sendList::after {
    content: '';
    width: 1px;
    height: 17px;
    background: #e5e5e5;
    position: absolute;
    top: 0px;
    right: 0;
}

.travelAiPlanner_snsList {
    margin-left: 15px;
}

.travelAiPlanner_content {
    width: 1180px;
    margin: auto;
}

.travelAiPlanner_content>h2 {
    margin-top: 50px;
    font-size: 30px;
}

.travelAiPlanner_4dp_lnb_box {
    width: 100%;
    height: 60px;
    margin-top: 50px;
}

.travelAiPlanner_4dp_lnb_box>ul {
    width: 1180px;
    height: 60px;
    display: flex;
}

.travelAiPlanner_4dp_lnb_box>ul>li {
    width: 590px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.travelAiPlanner_4dp_lnb_box>ul>li>a>h3 {
    display: block;
    border: 1px solid #e6e6e6;
}

.travelAiPlanner_4dp_lnb_box>ul>li:first-child>a>h3 {
    border-right: none;
}

.travelAiPlanner_4dp_focus {
    background: #0051a4;
    border-color: #0051a4;
    color: #fff;
}

.main {
    width: 100%;
}

.travelAiPlanner_content {
    width: 1180px;
    height: auto;
    margin: 35px auto 0;
}

.travelAiPlanner_img_box {
    width: 100%;
    height: 1235px;
}

.travelAiPlanner_img_box>img {
    width: 100%;
    height: 100%;
}

/* 카드 배경  */
.travelAiPlanner_card_content {
    width: 100%;
    height: 800px;
    padding: 45px 0 50px;
    background: #567ff2;
}

/* flip 되는 컨테이너 */
.travelAiplanner_flip_container {
    width: 600px;
    height: 734px;
    margin: auto;
    perspective: 1000px;
}

.travelAiPlanner_card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 5px 8px 19px 0px rgba(23, 41, 136, 0.3);
    border-radius: 8px;
}

/* 앞 뒤 카드들 */
.travelAiPlanner_frontCard_wrap,
.travelAiPlanner_backCard_wrap {
    width: 600px;
    height: 734px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* 앞 */
.travelAiPlanner_frontCard_wrap {
    background: #fff;
}

.travelAiPlanner_frontCard_wrap::before {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

.travelAiPlanner_frontCard_wrap::after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    right: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

/* 글씨 정리 */
.travelAiPlanner_frontCard_wrap>p {
    padding-top: 28px;
    color: #333;
    font-size: 18px;
}

.travelAiPlanner_frontCard_wrap>strong>span {
    font-weight: 700;
    color: #3569d8;
}

.travelAiPlanner_frontCard_wrap>strong {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.travelAiPlanner_frontCard_wrap>img {
    width: 100%;
    height: auto;
}

/* 코스 만드기 및 AI콕콕 플래너 설명 버튼 */
.travelAiPlanner_frontMakeMore_box {
    width: 500px;
    height: 90px;
    position: absolute;
    text-align: center;
    bottom: 30px;
}

.travelAiPlanner_frontMakeMore_box>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 19px;
}

.travelAiPlanner_frontMakeMore_box>button {
    margin-top: 15px;
    border: none;
    background: inherit;
    cursor: pointer;
    font-size: 18px;
}

.travelAiPlanner_frontMakeMore_box>button::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-left: 4px;
    background: url("/travelAi/images/travelAiPlanner/btn_planner_view.png") 0 0 / 100% 100% no-repeat;
}

/* 뒤 */
.travelAiPlanner_backCard_wrap {
    background-color: #3460c2;
    transform: rotateY(180deg);
    color: #fff;
}

.travelAiPlanner_backCard_wrap::before {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

.travelAiPlanner_backCard_wrap::after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    right: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

.travelAiPlanner_backCard_wrap>p {
    padding-top: 28px;
    font-size: 18px;
}

.travelAiPlanner_backCard_wrap>strong>span {
    font-weight: 700;
}

.travelAiPlanner_backCard_wrap>strong {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.traverAiPlanner_backCardText_box {
    margin-top: 90px;
    font-size: 20px;
    text-align: center;
}

.traverAiPlanner_backCardText_box>p {
    margin-top: 20px;
}

.travelAiPlanner_backMakeMore_box {
    width: 500px;
    height: 90px;
    position: absolute;
    text-align: center;
    bottom: 25px;
}

.travelAiPlanner_backMakeMore_box>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 19px;
    color: #fff;
}

.travelAiPlanner_backMakeMore_box>button {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    margin-top: 10px;
    border: none;

}

.travelAiPlanner_backMakeMore_box>button::after {
    content: '';
    width: 24px;
    height: 24px;
    background: url("/travelAi/images/travelAiPlanner/btn_curation_area_mclose.png") center no-repeat;
    background-size: 24px auto;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
}

.tarvelAiPlanner_myCourse_content {
    width: 100%;
    height: 400px;
    background: #f0f2f7;
    text-align: center;
}

.tarvelAiPlanner_myCourse_content>h3 {
    padding-top: 30px;
    font-size: 24px;
}

.tarvelAiPlanner_myCourse_content>span {
    display: block;
}

.tarvelAiPlanner_myCourse_content>span::before {
    content: '';
    display: block;
    margin: 30px auto 13px;
    width: 162px;
    height: 172px;
    background: url("/travelAi/images/travelAiPlanner/planner_list_cut.png");
}

.tarvelAiPlanner_myCourse_content>strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}