html, body, section, div, img, ul, li, h1, h2, h3, h4, h5, h6, a, p, form, label, input, select{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li{
    list-style: none;
}

a{
    text-decoration:none;
}